* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #FFF2E780;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
        
}

.github{
    color: #FFF2E7;
    font-weight: 600;
}

    main {
    display: flex;
    flex-direction: column; /*da uma direção de coluna*/
    }

    .principal{
        background-color: #181012;
    }

/*parte do conteudo principal*/  
.hero {
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip; /*da um efeito de sobre posição*/
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase; /*deixa o texto em maisculo*/  
}

.marrom {
    color: #A45A49;  
}

.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #C7BAB3;
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 400;
}

/*ajustes de imagem*/
.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens-container > figure > img{
    width: 100%;
    border-radius: 0.5rem;
}
/*estilanzando o botão*/
.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    background: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabeça {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: inter;
    font-size: 1rem;
    font-weight: 400;
}

.card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row; /*coloca na horizontal*/
    flex-wrap: wrap;/*serve para quebrar o codigo de cima*/
    gap: 2rem;
}

.receitas-card {
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.detalhes-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo {
    color: #FFF2E7;
    font-family: montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-avaliacao {
    color: #756A67;
    font-family: inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descrição {
    color: #C7BAB3;
    font-family: inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.receita-autor > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.nome-autor {
    color: #C7BAB3;
    font-family: inter;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy {
    font-family: inter;
    font-size: 1rem;
    text-transform: uppercase; /*deixa o texte em maiuscolo*/
}

.footer-autor {
    font-family: inter;
    font-size: 1rem;
}